<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  </head>
  <body>
      <div class="centered--maxWidth">
          <h1>Gigantum Update Available</h1>
          <p id="version"></p>
          <p>Release notes:</p>
          <div id="releaseNotes" class="releaseNotes"></div>
          <button
            id="installUpdateButton"
            class="primary"
          >
            Download Update
          </button>
          <button
            id="cancel"
          >
            Cancel
          </button>
      </div>
      <script type="text/javascript" src="./updateInfo.js"></script>
  </body>
</html>
