.Card {
  /* position */
  position: relative;

  /* effects */
  cursor: pointer;
  transition: box-shadow 0.5s;

  /* text */
  text-align: left;
  color: $jet;

  /* background */
  background: $white;

  /* includes */
  @include boxShadow();

  &:empty {
    /* box size */
    height: 0;

    /* border */
    border: 0;
  }

  &--line-50 {
    /* text */
    line-height: 50px;
  }

  &--text-center {
    /* text */
    text-align: center;
  }

  &:hover {
    /* effects */
    transition: box-shadow 0.5s;

    /* border */
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  }

  &--300 {
    /* box size */
    height: 300px;
  }

  &--import {
    /* box size */
    padding: 0;
  }

  &::before,
  &::after {
    /* box size */
    padding: 0 10px;
  }
}

.Card--auto {
  height: auto;

  @extend .Card;
}

.Card--no-hover:hover {
  cursor: default;

  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
