/**********
* a) Default simple search box—31px tall; variable width; 1px outline in #9B9C9E; text style "Search prompt"
*************/
input[type='text'] {
  /* box size */
  width: 100%;
  height: 31px;
  margin: 5px 0;
  padding: 0 20px;

  /* border */
  border: 0;
  border: 1px solid $romanSilver;

  /* background */
  background: transparent;

  /* font */
  font-size: 18px;
  line-height: 20px;
}

input[type='text']:focus {
  padding: 0 20px;
  background: $white;
  outline: none;
  @include boxShadow();
}

input[type='text'].full--border {
  /* box size */
  margin: 20px 0;

  /* border */
  border: 1px solid $romanSilver !important;
  border-radius: 8px;

  /* text */
  line-height: 20px;
}

input[type='text'].full--border:focus {
  /* border */
  border: 1px solid $turquise !important;
  border-radius: 8px;
  box-shadow: 0 1px 0 0 $turquise !important;
}

.Input {
  &--clear {
    button {
      /* position */
      position: absolute;
      top: 0;
      right: 0;

      /* box size */
      padding: 7px 30px 7px 20px;

      /* text */
      text-decoration: none;
      color: $romanSilver;

      /* background */
      background: url('~Images/icons/close.svg') no-repeat center right;
      background-size: 24px;

      &:hover {
        /* box size */
        padding: 7px 30px 7px 20px;

        /* text */
        text-decoration: none;
        color: $romanSilver;

        /* background */
        background: url('~Images/icons/close.svg') no-repeat center right;
        background-size: 26px;
      }
    }
    input {
      /* box size */
      padding-right: 84px !important;
    }
  }
}

textarea {
  /* box size */
  width: 100%;
  padding: 10px 20px;

  /* other */
  resize: none;

  /* text */
  line-height: 28px;
}
