textarea {
  /* box size */
  margin: 5px 0;

  /* border */
  border: 1px solid $romanSilver !important;

  /* text */
  line-height: 20px;
}
textarea:focus {
  /* other */
  box-shadow: none !important;
}
