@import '~Styles/_imports.scss';

.ErrorStatus {
  @include flex(center, column);
  align-items: center;

  border: 0 !important;
  &::before {
    display: none;
  }
}

.ErrorStatus__icon {
  display: block;
  background: $orange url(~Images/icons/notifications/info-exclamation.svg);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-size: 130px;
  margin: 0 0 40px 0;
}

.ErrorStatus__message {
  color: $orange;
  font-size: 15px;
  text-align: center;
}
