@import '~Styles/_imports.scss';

.InstallDockerStatus__body {
  @include flex(center, column);
  align-items: center;
  height: 100%;

  img {
    margin-bottom: 40px;
  }
}

.CircularProgressbar {
  width: 130px;
  height: 130px;
  margin: 0 0 40px 0;
}

.InstallDockerStatus__noProgress {
  display: block;
  background: url('~Images/loaders/spinner.svg') no-repeat center top
    calc(50% + 20px);
  width: 100%;
  height: 100%;
  background-size: 130px;
}

.InstallDockerStatus__image {
  width: 130px;
  height: 130px;
  &--windows {
    background: url('~Images/loaders/logout-linux.svg') no-repeat center center;
    background-size: cover;
  }
  &--linux {
    background: url('~Images/loaders/logout-linux.svg') no-repeat center center;
    background-size: cover;
  }
  &--mac {
    background: url('~Images/loaders/logout-linux.svg') no-repeat center center;
    background-size: cover;
  }
}
