<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
  </head>
  <body>
      <div class="centered--maxWidth">
          <h1>Gigantum</h1>
          <p id="versionNumber"><p>
          <p id="ImageTag"><p>
          <button
            id="releaseNotes"
            class="large"
          >
            Release Notes
          </button>
          <button
            id="acknowledgements"
            class="large"
          >
            Acknowledgements
          </button>
      </div>
      <script type="text/javascript" src="./about.js"></script>
  </body>
</html>
