@import '~Styles/_imports.scss';

.Updater {
  box-sizing: border-box;
  display: block;
  height: 455px;
  border-top: 6.5px solid $primary;
  border-bottom: 6.5px solid $primary;
}

.Btn {
  &__Updater {
    width: 160px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $primary;
    margin: 9px;
    font-size: 14px;
    color: $primary;
    outline: none;
    cursor: pointer;

    &:hover {
      @include boxShadowDark();
    }
    &:disabled {
      box-shadow: none;
      background: $romanSilver;
      border: 1px solid $romanSilver;
    }
  }

  &--primary {
    color: white;
    background: $primary;
  }

  &--last {
    margin-right: 0;
  }
}

.Updater__close {
  outline: none;
  border: 0;
  padding: 0;
  @include close();
  background-size: 32px;
  top: 20px;
  right: 20px;
}
