@import '~Styles/_imports.scss';

.UpdateProgress {
  height: 100%;
  &__body {
    height: 80%;
    @include flex(center, column);
    align-items: center;
  }
  &__spinner {
    display: block;
    background: url('~Images/loaders/spinner.svg') no-repeat center center;
    width: 130px;
    height: 130px;
    background-size: 130px;
    margin: 0 0 40px 0;
  }
}
