@import '~Styles/_imports.scss';

.Buttons {
  display: block;
  @include flex(flex-start, column);
  border-top: 1px solid $grey-border;
  border-bottom: 1px solid $grey-border;
}
.Btn {
  &__Toolbar {
    cursor: pointer;
    color: $primary;
    height: 35px;
    background: white;
    border: 1px solid $grey-border;
    font-size: 15px;
    outline: 0;
    &:hover {
      background: $primary;
      color: white;
    }
    &:disabled {
      color: $romanSilver;
      background: $lightGrey;
      cursor: auto;
    }
  }
  &--noBorder {
    border: 0;
  }
}
