.Header {
  background: linear-gradient(to left, rgb(68, 144, 163), rgb(28, 33, 49));
  height: 42px;
  font-weight: 100;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  span {
    font-weight: normal;
    margin-right: 5px;
  }
}
