.Header {
  background: linear-gradient(to left, #4d7c8d, #344e5e);
  height: 42px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  &__Logo {
    background: url('~Images/logos/gigantum-logo.svg') no-repeat center bottom
      9px;
    width: 162px;
    height: 100%;
  }
}
