@import '~Styles/_imports.scss';

.Header {
  background: linear-gradient(263deg, $primaryDark, $primary);
  height: 42px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  &__Logo {
    background: url('~Images/logos/gigantum-logo.svg') no-repeat center bottom
      9px;
    width: 162px;
    height: 100%;
  }
  &__Menu {
    cursor: pointer;
    position: absolute;
    right: 10px;
    background: url('~Images/icons/ellipsis-white.svg') no-repeat center center;
    background-size: 16px;
    width: 16px;
    height: 16px;
    outline: none;
  }
}
