body {
  background: white url('../assets/horizontal-divider-line.svg') no-repeat;
}
.centered {
  width: 65%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.centered--maxWidth {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.hidden {
  display: none
}

button {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  height: 60px;
  width: 190px;
  text-transform: uppercase;
  border-radius: 30px;
  letter-spacing: 2px;
  font-size: 18px;
  border: 3px solid #9B9C9E;
  background: white;
  color: #9B9C9E;
  margin: 20px 10px;
  outline: none;
  cursor: pointer;
}

button.large {
  width: 260px;
}

button.primary {
  text-transform: uppercase;
  background: #1AD8C1;
  color: white;
  border: none;
}

h1 {
  margin: 5px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: #1F2733
}

h5 {
  margin: 5px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 100;
  font-size: 48px;
  color: #1AD8C1;
  letter-spacing: 2.5px;
  font-size: 20px;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #6A6A6A;
  line-height: 30px;
}

a {
  color: #1AD8C1;
  font-weight: bold;
  text-decoration: underline;
}

.acknowledgements-container,
.releaseNotes-container,
.releaseNotes {
  max-height: 225px;
  margin: 10px;
  padding: 20px;
  overflow: auto;
  text-align: -webkit-auto;
  border: 1px solid #1F2733;
}
