<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  </head>
  <body>
      <div class="centered">
          <h1>Client Failed To Start</h1>
          <p>There was as problem starting the Gigantum Client. For troublshooting steps click <a href="#" onclick="openLink()">here</a>.<p>
          <button
            id="cancel"
            class="primary"
          >
            Close
          </button>
      </div>
      <script type="text/javascript" src="./failed.js"></script>
  </body>
</html>
