@import '~Styles/_imports.scss';

.Layout__Body {
  @include flex(flex-start, row);
  height: 376px;
  border-bottom: 2px solid $grey-border;
}

.Layout__Faq {
  margin: 77px 0 0 43px;
  width: 226px;
}
.Layout__Main {
  width: 316px;
  font-size: 24px;
  margin: 77px 44px 0 91px;
  color: $slateBlue;
}
.Layout__Status {
  position: relative;
  width: 312px;
  border-left: 2px solid $grey-border;
  &::before {
    @include triangle('right', 15px, $grey-border);
    top: calc(50% - 15px);
    content: '';
    position: absolute;
    left: 0;
  }
}

.Btn {
  &__Status {
    width: 160px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid $primary;
    margin: 9px;
    font-size: 14px;
    color: $primary;
    outline: none;
    cursor: pointer;

    &:hover {
      @include boxShadowDark();
    }
  }

  &--primary {
    color: white;
    background: $primary;
  }
}
