@import '~Styles/_imports.scss';

.Layout {
  &__Body {
    @include flex(flex-start, row);
    height: 376px;
    border-bottom: 2px solid $grey-border;
  }

  &__Faq {
    margin: 37px 0 0 43px;
    width: 226px;
    position: relative;
  }
  &__Main {
    width: 366px;
    font-size: 22px;
    margin: 37px 51px 0 47px;
    color: $slateBlue;
    white-space: pre-line;
    p {
      font-size: 22px;
    }
  }

  &__Status {
    position: relative;
    width: 312px;
    border-left: 2px solid $grey-border;
    &::before {
      @include triangle('right', 15px, $grey-border);
      top: calc(50% - 15px);
      content: '';
      position: absolute;
      left: 0;
    }
  }
}
