<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../css/default.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
  </head>
  <body>
      <div id="releaseNotes" class="centered--maxWidth">
          <h1>Release Notes</h1>
          <div class="releaseNotes-container">
            <div id="content"></div>
          </div>
      </div>
      <script type="text/javascript" src="./releaseNotes.js"></script>
  </body>
</html>
