@font-face {
  font-family: 'NunitoSans';
  font-weight: normal;
  font-style: normal;
  src: url('~Fonts/nunito-sans/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: 'NunitoSans';
  src: url('~Fonts/nunito-sans/NunitoSans-Bold.ttf');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('~Fonts/nunito-sans/NunitoSans-Light.ttf') y;
  font-weight: 100;
  font-style: 100;
}
